<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name ="RouletteNeoDB" connectionString="Data Source=.\RouletteNeoDB.db;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RouletteNeoUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RouletteNeoUI.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </RouletteNeoUI.Properties.Settings>
    </userSettings>
</configuration>